body{
    overflow-x: hidden;
    color: white;
    padding: 20px;
    background-color: black;
    background-image: image-set(url(Images/back.png)); 
    background-size: cover; /* Cover the entire element */
    background-repeat: no-repeat; /* Prevent tiling */
    background-position: center; /* Center the image */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */

}

.header {
    display: flex;
    justify-content: flex-start;
}

.links {
  margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto auto;
    grid-gap: 30px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.profile {
  margin: 20px;
    width: 20%;
}

.seperator {
    padding: 20px;
}

button {
    color: white;
    background-color: black;
    border-color: white;
    border-radius: 10px;
    border-width: 2px;
    padding: 3%;
    width: 30%;

}

.button-c:hover {
  border-color: rgb(255, 102, 0);
}

.button-m:hover {
  border-color: rgb(30, 104, 30);
}

.button-i:hover {
  border-color: rgb(206, 84, 84);
}

.button-d:hover {
  border-color: rgb(84, 84, 165);
}

.button-x:hover {
  border-color: rgb(29, 29, 29);
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #000000;
}

/*link cards*/

.link1 {
    display: grid;
    grid-template-areas:
      "header image"
      "content image"
      "footer image";
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.397), rgba(197, 75, 18, 0.541));
    border-radius: 20px;
    border-style: solid;
    padding: 5px;
  }
  .link1 > div {
    padding: 10px;
  }
  .link1 > div.header {
    grid-area: header;
    text-align: center;
  }
  .link1 > div.image {
    grid-area: image;
    align-items: right;
  }
  .link1 > div.image img {
    width: 100%;
    border-radius: 20px;
    align-self: center;
  }
  .link1 > div.content {
    grid-area: content;
  }
  .link1 > div.footer {
    grid-area: footer;
  }

  .link2 {
    display: grid;
    grid-template-areas:
      "header image"
      "content image"
      "footer image";
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.397), rgba(233, 74, 74, 0.541));
    border-radius: 20px;
    border-style: solid;
    padding: 5px;
  }
  .link2 > div {
    padding: 10px;
  }
  .link2 > div.header {
    grid-area: header;
    text-align: center;
  }
  .link2 > div.image {
    grid-area: image;
    align-items: right;
  }
  .link2 > div.image img {
    width: 100%;
    border-radius: 20px;
    align-self: center;
  }
  .link2 > div.content {
    grid-area: content;
  }
  .link2 > div.footer {
    grid-area: footer;
  }

  .link3 {
    display: grid;
    grid-template-areas:
      "header image"
      "content image"
      "footer image";
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.397), rgba(176, 18, 197, 0.24));
    border-radius: 20px;
    border-style: solid;
    padding: 5px;
  }
  .link3 > div {
    padding: 10px;
  }
  .link3 > div.header {
    grid-area: header;
    text-align: center;
  }
  .link3 > div.image {
    grid-area: image;
    align-items: right;
  }
  .link3 > div.image img {
    width: 100%;
    border-radius: 20px;
    align-self: center;
  }
  .link3 > div.content {
    grid-area: content;
  }
  .link3 > div.footer {
    grid-area: footer;
  }

  .link4 {
    display: grid;
    grid-template-areas:
      "header image"
      "content image"
      "footer image";
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.397), rgba(47, 67, 160, 0.541));
    border-radius: 20px;
    border-style: solid;
    padding: 5px;
  }
  .link4 > div {
    padding: 10px;
  }
  .link4 > div.header {
    grid-area: header;
    text-align: center;
  }
  .link4 > div.image {
    grid-area: image;
    align-items: right;
  }
  .link4 > div.image img {
    width: 100%;
    border-radius: 20px;
    align-self: center;
  }
  .link4 > div.content {
    grid-area: content;
  }
  .link4 > div.footer {
    grid-area: footer;
  }
  



